body {
  font-family: Arial, sans-serif;
  text-align: center;
}

header {
  background-color: lightgray;
  padding: 20px;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}

footer {
  background-color: lightgray;
  padding: 10px;
}

li {
  list-style: none;
}

img {
  width: 100%;
}

figcaption {
  text-align: center;
}
